
.Repost{
    margin-left: 10%;
}
.Comment{
    margin-left: 10%;
}
.Share{
    margin-left: 10%;
}
.bodyicons{
    text-align: center;
  
}

.firetextpost{

    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    background-color: rgba(54, 49, 49, 0.24);
   
    min-height: 100px;
    padding: 10px;
 
    
    
    
}
.btns{
    display: flex;
    text-align: center;
    justify-content: center;
}