
.form{
 

margin-right: 10%;
margin-left: 10%;
padding: 10px;
justify-content: center;
text-align: center;
border: 2px solid indigo;
position: sticky;
margin-top: 15%;
}


.postdiv1{
 
    background-color: white;
    justify-content: center;
    text-align: center;
}
.File{
  
    color: red;
    height: 20px;
    width: auto;
  
   
  
}
.Button{
    margin-right: 5%;
    text-align: center;
    margin-left: 10%;
}
.secpostbtn{

background-color: red;
text-align: right;
margin-top: 0%;

}

.EMOJI{

    height: auto;
}
.radiodiv{
    text-align: center;
    display: flex;
    justify-content: center;
    
}
p{
    color: rgb(248, 10, 30);
   

}
.Filelabel{
    color: green;
    margin-top: 0%;
}


