.AppBar{
    background-color: black;
  
    width: auto;
    content: 100%;

}
.ToolBar{
    width: auto;
    background-color: black;
    content: 100%;
}
.Typography{
    width: 100%;
    justify-content: center;
   
    margin-left: 0px;
    

}
h1{
    color: red;
    font-size: 30px;
    margin-bottom: 5px;
    background-color: transparent;
    text-align: left;
   
}
.btnsearch{
    
    color: red;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-bottom: 0px;
    background-color: gray;
    border-color: transparent;

    margin-left: 30%;
  
     padding-top: 10px;
     text-align: right;
     
    
}

.searchdiv{
    display: flex;
      
     margin-left: 2%;
  }

.nav{
    background-color:black;

}
.nav-link{
   

    font-size: 15px;
  
    margin-top: 10px;
    text-align: center;
    border: transparent;
    color: yellow;
    text-align: left;
    width: fit-content;
  
  
    
}
a.main-nav-active{
    color: red;

}
a:hover.nav-link{
 color: green; 
}
button{
    background-color: indigo;
    border-radius: 10px;
   text-align: center;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 10px;
}

.postsomething{
    margin-left: 20%;
    color: white;
 
}

