h2{
    background-color: black;
    color: red;
    text-align: center;
    justify-content: center;
}
body{
  
   background-color: white;
}
.firsttext{
    color: brown;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.secondtext{
    color:black;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.thirdtext{
    color: brown;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

